<nav class="navbar navbar-dark bg-primary">
  <a href="" class="navbar-brand">CRUD Clientes</a>
</nav>

<div class="container">
  <div class="row">
    <div class="col-md-8 mt-4">
      <ul class="list-group">
        <h2>LISTADO DE CLIENTES</h2>
        <li class="list-group-item list list-group-item-action" *ngFor="let cliente of clientes" (click)="llenarCampos(cliente)" [class.active]="cliente == selectedCliente">
          <span class="badge bg-primary">{{cliente.id}}</span>
          {{cliente.nombre}} - {{cliente.apellido}}
        </li>
      </ul>
      <div class="card mt-4">
        <div class="card-body">
          <div class="card-title">
            <h2>Insertar un nuevo cliente</h2>
          </div>
          <div class="form-group mb-2">
            <input type="text" [(ngModel)]="selectedCliente.nombre" placeholder="Ingrese nombre del cliente" class="form-control">
          </div>
          <div class="form-group mb-2">
            <input type="text" placeholder="Ingrese apellido del cliente" class="form-control" [(ngModel)]="selectedCliente.apellido">
          </div>
          <div class="form-group mb-2">
            <input type="number" placeholder="Ingrese DNI del cliente" class="form-control" [(ngModel)]="selectedCliente.dni">
          </div>
          <div class="form-group mb-2">
            <input type="number" placeholder="Ingrese numero de teléfono del cliente" class="form-control" [(ngModel)]="selectedCliente.numTelefono">
          </div>
          <button (click)="agregarCliente()" class="btn btn-primary">REGISTRAR CLIENTE</button>
          <button (click)="editarCliente()" class="btn btn-primary">EDITAR CLIENTE</button>
          <button class="btn btn-danger" *ngIf="selectedCliente.id != 0" (click)="borrarCliente()">BORRAR CLIENTE</button>
        </div>
      </div>
    </div>
  </div>
</div>